body {
    background-color: #eee;
}

div#divGraph svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.8em;
}

circle {
    fill: white;
}

circle.active {
    fill: red;
}

circle.source {
    fill: blue;
}
circle.sink {
    fill: green;
}

.clear {
    clear: both;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.controls {
    float: left;
    padding: 0px 10px;
}

#divCode, #divGraph {
    margin: 10px;
    height: 500px;
    width: 45%;
    float: left;
    overflow: hidden;
}

#divNetpath {
    margin: 10px;
    height: 500px;
    width: 45%;
    float: left;
    overflow: scroll;
    background-color: #fff;
}

#divGraph {
    cursor: pointer;
    background-color: #fff;
}


#flange {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    padding: 15px 8px;
}